language: node_js

env:
- CXX=g++-6

node_js:
  - "11"

stages:
    - test

jobs:
    include:
        - stage: test
          name: test_server
          before_script:
            - cd server; npm install
          script:
            - npm test

        - stage: test
          name: test_client
          before_script:
            - cd client; npm install
          script:
            - npm test
