dist: xenial
language: node_js
node_js:
- '11'
stages:
- test
cache:
    directories:
    - node_modules
jobs:
  include:
  - stage: test
    name: test_server
    before_script:
    - cd server; source ./setup_private_config.sh; npm install
    script:
    - npm test; npm run coveralls;
  - stage: test
    name: test_client
    before_script:
    - cd client; npm install
    script:
    - npm test


env:
  global:
  - secure: 2BJtJgUIYd6j9ILWXllpuCCmunTnNoHxLagmOEr52AHleUBJ4Z3ydmd9HAq7byBluZNConaf7pc9LrDh4a5mTXLt2xOXV+NZdiH1j5QU8XlTgJM1ywGgFdTmxAXc2eK1l80qzWmvVzVl/32vlAI+Fbb6cHXD/GIkge7/2c6nRvlwr+E5K34w5JR7R827hHQCNkLNHYYcYra9SC2ILpI7P33gHu+VEM6CWD95YzPg4lGp89QMf3jdtCYcuvkfQ4MmV4WeP2MER+BG210IqiUVjC6CmwV3terpnt2Bvq7SEABQ3eZ7Hh/vIcd1MCvuEKiOKMbgmiDWrSQ0yY25+yTN/WIWNKCMA04PoEB3Me+raztjNM1SOClJdgKbZPZFkwg/vU0S4z3AByWoo4x454qOtvY8VZ8HSQ3mzMUHAWyf3K0H2SlN81wrEFTxXRcpjIFADvxtONIRWZP+EKKAVUoHyVrKBlQRt3UdexoRQ6GUSGFfb8XvHuJiHZ6DYwSNiYTOoX/urXPMmsOA/jTkzo/4mVVqB9rme58EhKu6WzvGq9UTg5A5QZ4AmnY95D6rGNcjShN1Lj5Ur8ZDk83qDEAyPgxTpRfSnzx1/sjU9hwh4F8G8WzF7e9s14hXkb76hLklRCrLaaY/Qd4dvukkSyChZ1vsOL2z1YFZLaEjiA54A8g=
  - secure: iwqfSqcx93LgLBG5RVBnhVltBq/Ly39as+2G1R3WagO4jP+nkbSp1cun4oQ/EFh5l3cE7CfiPL2z9LJ3/FA8VKKKWUvk0afhyaf9uLuG6IcI5IJvpWBBrYYBiyA9EWwRiWp8wphPIqJ64jj/1uSTVn/p418y2NodELq0mRsoKrCFU5fYJ5Itz9MqY8Efgpry85H3tyeCTLrSPuhuiytEEgbnVbhDAJe5M037ytfOUyKWxw3yLC/IKJ9Z7x4hnQCEskQmiyHazoUQE0BxnQifZ1lqcosDTpjTQmDsXH/ROicozrLRw9hNWu7taW8YmoP7frt0vFh72kwlhywZxmZ5/w1ww+gbPLQq6VGpu3m/WofBv6D32T6Gx0Lq0iskGqTjDOBSBiYNN2E/iRWBICLC9N9Ovd/0gkWVMjSywjqlE52IrBGRTg0jytBM1JZzT3i+8CAQaWoBwmOougUrHNsuuYv/58jgQBear1FsvdFH7rA/QwrK491l3JKe2b9JQJZjlr3oehT8Gu9gTlOMmBkC5m9Q8Sz9oUcJOoYeV9eATx5toIgoYBbLudNd7kXu/cxURUf3hegfLqcAWBM1z008UZqiGNgO1ZFHDuQPnxA8XkLi0xjAZRhKZSEFPXoro7KaDv6ahVWNhBt9HrjFJ4xTAhMit2d2AYQp6vQGXnZcEaQ=
  - secure: QfRhHG3NWgk03IvQoL1yQspUHLtL/wsFDvd99Ui2GT+f2hVtatouseO5XPEU6oi4NAfZcrzc805tWWwyD4bl5TvsqlklsehdShc0zLMR1oKI9ABBbr7/x6TCLjbQQFk9zAPxEg7gjFylqJsPQJnn698Sv22XIpwwCQs1TKlu/s6bRFYgIL5NlEYG9pzmS0eN5AzVQitpvIfBtzB59M4U2iKCyD9xGimnn9DMExE69UpxkS6jTDZZVtN3vrA0w5TneAye1UHKzIBEGDjhaDbaTNX3o1gIdw8+8S14PyOMLNrvKwihhPcaup41d9sugpPtQR6SvAFN7TsUmHbgsqpcqD7y2jZTfU9FsYEE7jkmzvycGeH4IulgLmvMMAU1UEjgl3VeiKAm74tm8pjQsauzWMkWxRQ0w+u/xYPcCnLzVicYZ9HVCJjjnSQoazHNJlQPa/U0K2HDVOne9yDR29uRrcsJnUulVg5Z8EqtX1+MzA8p89SMvliv0cGc0ssieiX9Pj8+dO0TZGjcjbnmfxkixuWcU4d8J78fULfX5ZNHt0yu9IAJYuRilD0Zh5wv/KS9L48/7CQunU0uKAldR+DSDSxH4Qld63Yq/0v21RU0HAS7oQERUpdCtdC9yYengeaSYDpz9iydzgql8b8YLZIj04uK+pJiOUfQ5xWtrWFHURY=
  - secure: fUsvQYNLZzNynSrmx4KfmzOXb7TGYpqe81v0gx7e2JsiMCIRsNsc5u4t2upIYyTV5AMV4J7+ynLCv2CQlvWAFHsRqB6O8Jj5Yr0X2LgWSAc+M/slqW3KyaOXo+F0dumBlrrdau+eqils3KQdYgzfK0x+tw9gqIR7A2zRKdrVunWad94E/knVrLO6ud6ZuXGfiNOj227AaanKTpYw5JeIUO4FPsU9PVuVK5OQIXuCWjYNQXn2HHqWO7OWcKSW8ihfaHE7GfhchJUbUnqAXUReJSNwWl+wWvXsp0qh404O/I0Ciw5ZXjG8luJ4yhCQV0JJb6rK1p1zJ9w3wOsYMR+kij8ISo1+niOwpugmVHEFOSOLE0cQpdPtldzK1ZXYDAhjagxzuyOhI8a4Xq7QDsKS++i0Lue8K4E2foRhhH/9xAgjTktSBWiT/2mpAh+d4vN9SMbxLWKavKpb27genlBvY7XVMoBaxgc+JWm/drOij+TPkkHmpWkT+hgOFgblqMxymzctxIrKCFuPCs4nfocQvsI/NHHS26MIF+3aLFhRTSTJ3l9TP2YAmTGTyyLPNoK9srXobOW11wpqZJEm3Cgz8GaOzta2eL3KvyDJwgrFACazUEsBGJNzvKSdhiRdJhxOgSa2iJaKhmPnkp8PpFxiLugBt4w8gtr4gtZIcgqL0Es=
  - secure: Zj6WYhfHTl7jNlD3TknonlCzaapcIRQ/dVmv8B8cNi9SLs60FD7XarfjXAWntTxwxr1nuOKnfSZeVh9h40kr1Sc1c1SbbvNn6zR+YJUgk2Wy2PEvl7z4Kj9rNZdnr0GdxlG1J39v7hRKFDrdlwGL6gpo55QV+fIujhzAnB43he3X6fvHHQTmGu0f3fgKzzMsc27HANclLGiQxLghHz/86SkPTXmBBZPw0C/Z+RJ9j4+Gi+eRdfSX4xVvz8zy8XBUWT4l5zKoOpjYiAaOuZ4wCIbmyMKWotGAeJzgjyHkOQ9QxeFAmDChS3/0le0xVXucG4Dz7H6+p6CG3Azbqm37V1B8aqbldh2y7tYjr1BJkoOc7bKHD3PiaC+8wC4JoI6B2OXMRSJIikQKcjSYaf0TjrsaHrofRY8FtTi3YrJKJJSQ6992uineahSNYTKgNZ+e5P1tAv/tWriW+UX2UISUqvMMN14rf8eEe9x08dnilv+0AeYiHlGm47YTnYuqtDHxi7qlXwhyAWzeFHoOeiJKUckl3q9TQjM/pnuvct0rYAxOy/7fMZXlZ92OuPGgfvcp5w5jZsMV9Jm3ttFeCokPskLH5a2BBYNkhz7IuLj6h427NQXvmgR4vCqWz1NAznUgDGyl6swkvdvrn4JOD7bzQdrZt9Pby+WO1LERfCtS7cw=
