[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = NO
stateOrProvinceName = Trondelag
localityName = Trondheim
0.organizationName = NTNU
organizationalUnitName = Hverdagshelt4
commonName = Hverdagshelt

[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = https://10.22.157.20:3443
DNS.2 = http://10.22.157.20:3000
DNS.3 = https://10.22.157.20/
DNS.4 = http://10.22.157.20/
