.leftSide {
    position: relative;
    float: left;
    width: 19%;
    box-shadow: 0px 5px 10px #555;
    background-color: #019ad2;
    margin: 4px;
}

.btnCase {
    height: 40px;
    width: 100%;
    margin: 5px;
    box-shadow: 0px 2px 4px #555;
}

.aroundMap {
    min-height: 600px;
    margin: 4px;
}

.map {
    width: 78%;
    float: right;
    box-shadow: 0px 2px 4px #555;
}

.ticketImg{
    box-shadow: 0px 3px 6px #555;
}

.header {
    color: white;
    font-family: italic, cursive;
    margin-left: 10px;
    margin-right: 10px;
}

.aroundButton {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 3px;
}
.voteB {
    float: right;
    margin: 5px;
}
.thumbUp{
    margin: 3px;
}
