.eventContainer {
    background-color: #FFFFFF;
    width: 60%;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.eventContainer > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #FF5722;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.eventContainer > img {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 300px;
}

.eventInfo {
    padding: 5px;
}





