.root {
    width: auto;
    overflow-x: auto;
}

.rowHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}