html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #FFFFFF;
}

.customBtn {
    background-color: #F74356;
    color: #FFFFFF;
}

.blue{
    background-color: #64C2EC;
    color: white;
}
.lightBlue{
    background-color: #BAE1F2;
}

.customBtn:hover {
    background-color: rgb(211, 17, 37);
}

@media (max-width:1250px) {
    .navbar{
        font-size: 14px;
    }
  }
@media (max-width:1150px) {
  .navbar{
      font-size: 12px;
  }
}
@media (max-width:1000px) {
  .navbar{
      font-size: 9px;
  }
  @media (max-width:850px) {
    .navbar{
        font-size: 7px;
    }
}
@media (max-width:767px) {
  .navbar{
      font-size: 14px;
  }
}