html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: rgb(233, 233, 233);
}

.customBtn {
    background-color: #FF5722;
    color: white;
}

.black {
    background-color: #33393D;
}

.grey {
    background-color: #666B6E;
}

.blue{
    background-color: #1976D2;
    color: white;
}
.lightBlue{
    background-color: #9DC8E4;
}

.customIcon{
    margin-right: 6px;
}

.customBtn:hover {
    background-color: rgb(224, 57, 6);
    color: #666B6E;
}

.customBtn2 {
    background-color: #FF5722;
    color: white;
}
.customBtn2:hover {
    background-color: rgb(224, 57, 6);
    color: white;
}

.navbar {
    height: 50px;
}
.topOfLink {
    margin-top: 8px;
}
label {
    white-space: pre-wrap;
}
.aroundStuff {
    background-color: #FFFFFF;
    width: 75%;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.inlineStuff{
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.inlineStuff > li {
    display: table-cell;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}

.imgMiddle {
    width: 96%;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
}

.btn-secondary {
    background-color:  #FF5722;
    color: #eee;
    border-color: black;
}

.btn-secondary:hover {
    background-color:  rgb(224, 57, 6);
    color: #eee;
    border-color: black;
}

section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #eee;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #FF5722;
    font-size: 20px;
}


@media (max-width:1250px) {
    .navbar{
        font-size: 14px;
    }
    .topOfLink {
        margin-top: 10px;
    }
  }
@media (max-width:1150px) {
  .navbar{
      font-size: 10px;
  }
  .topOfLink {
    margin-top: 12px;
}
}
@media (max-width:1000px) {
  .navbar{
      font-size: 9px;
  }
}
  
@media (max-width:992px) {
  .navbar{
      font-size: 14px;
      height: auto;
  }
}